app = "slic-bt"
primary_region = "lax"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "slic_data"
  destination = "/data"

[env]
  SLIC_USER_DB_PATH = "/data/users.db"

[vm]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
